@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

/**
 * This injects custom `@font-face` rules.
 */
@import "./custom/fonts.css";

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
 */
@import "tailwindcss/base";
@import "./custom/base.css";

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
 *
 * The `@import-glob` line imports all CSS files from the `components`
 * directory (except for `components.css`, which is imported on the following
 * line). This is meant to simplify the process of integrating styles from
 * JavaScript components or WordPress plugins.
 */
@import "tailwindcss/components";
@import-glob "./custom/components/**/!(components).css";
@import "./custom/components/components.css";

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins, then adds custom utility classes.
 */
@import "tailwindcss/utilities";
@import "./custom/utilities.css";
@import 'animate.css';

#body {
    @apply bg-gray-900;
}

.social-icon {
    width: 23px;
    height: 25px;
}

.post-1 {

    background: -moz-linear-gradient(315deg, #D8B4FE 0%, #818CF8 74%);
    background: -webkit-linear-gradient(315deg, #D8B4FE 0%, #818CF8 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow:
        inset -999px 0 0 #111827;
}


.post-2 {

    background: -moz-linear-gradient(315deg, #6EE7B7 0%, #9333EA 74%);
    background: -webkit-linear-gradient(315deg, #6EE7B7 0%, #9333EA 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow:
        inset -999px 0 0 #111827;
}

.post-3 {

    background: -moz-linear-gradient(315deg, #FDE68A 0%, #FECACA 74%);
    background: -webkit-linear-gradient(315deg, #FDE68A 0%, #FECACA 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow: inset -999px 0 0 #111827;
}

.cv {

    border: 1px solid transparent;
    border-radius: 49px;
    background: -moz-linear-gradient(180deg, #0BFFD3 0%, #305C9D 100%);
    background: -webkit-linear-gradient(180deg, #0BFFD3 0%, #305C9D 100%);
    -moz-background-origin: border;
    background-origin: border-box;
    box-shadow: inset -999px 0 0 #111827;
}

.txtarea {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-width: 0;
    max-height: 100px;
}

.txtarea:focus {
    outline: none;
}

.divtxtarea {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;
    margin-top: 1.5rem;
}

.div-name-input {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;

}

.name-input {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width:100%;
}

.name-input:focus {
    outline: none;
}

.div-email-input {
    padding-left: 1rem;
    padding-right: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 2.2rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;

}

.div-web-input {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.9rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;
}

.email-input {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
}

.email-input:focus {
    outline: none;
}

.txt-dsc {
    font-size: 1.5rem;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {
    .txt-dsc {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.post-btn {
    display: inline-flex;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    @apply bg-blue-700

}

.txt-labels {
    color: #E5E7EB;
}

.custom-flex {
    display: flex;
    flex-direction: row;
}

#comment-txt > p{
    @apply text-gray-400;
}

ol > .children{
    @apply ml-8;
}

.flex > .text-gray-900 > img{
    @apply mr-2;
    @apply w-6;
    @apply h-6;
    @apply rounded-full;
}

#mobileBodyContent {
	 position: relative;
	 z-index: 20;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
	 visibility: visible;
	 -webkit-transition: all 0.3s ease-in;
	 -moz-transition: all 0.3s ease-in;
	 -khtml-transition: all 0.3s ease-in;
	 -o-transition: all 0.3s ease-in;
	 transition: all 0.3s ease-in;
}
 #burgerBtn {
	 border-top: 2px solid #6b7280;
	 height: 25px;
	 width: 30px;
	 box-sizing: border-box;
	 position: absolute;
	 z-index: 30;
	 left: 20px;
	 top: 15px;
	 cursor: pointer;
	 -webkit-transition: all 0.3s ease-in;
	 -moz-transition: all 0.3s ease-in;
	 -khtml-transition: all 0.3s ease-in;
	 -o-transition: all 0.3s ease-in;
	 transition: all 0.3s ease-in;
}
 #burgerBtn:before {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 2px;
	 width: 30px;
	 left: 0;
	 background: #6b7280;
	 top: 10px;
	 -webkit-transition: all 0.3s ease-in;
	 -moz-transition: all 0.3s ease-in;
	 -khtml-transition: all 0.3s ease-in;
	 -o-transition: all 0.3s ease-in;
	 transition: all 0.3s ease-in;
}
 #burgerBtn:after {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 2px;
	 width: 30px;
	 left: 0;
	 background: #6b7280;
	 bottom: 0;
	 -webkit-transition: all 0.3s ease-in;
	 -moz-transition: all 0.3s ease-in;
	 -khtml-transition: all 0.3s ease-in;
	 -o-transition: all 0.3s ease-in;
	 transition: all 0.3s ease-in;
}
 #nav {
	 z-index: 10;
	 list-style-type: none;
	 margin: 100px 0 0 20px;
	 padding: 0;
	 overflow: hidden;
}
 #nav li {
	 height: 30px;
	 width: 0;
	 margin: 30px 0;
	 -webkit-transition: all 0.6s ease-in;
	 -moz-transition: all 0.6s ease-in;
	 -khtml-transition: all 0.6s ease-in;
	 -o-transition: all 0.6s ease-in;
	 transition: all 0.6s ease-in;
}
 #nav li + li {
	 margin-left: -40px;
}
 #nav li + li + li {
	 margin-left: -80px;
}
 #nav li + li + li + li {
	 margin-left: -120px;
}
 .navigation #nav li {
	 width: 200px;
	 margin-left: 0;
}
 .navigation #burgerBtn {
	 border-color: transparent;
}
 .navigation #burgerBtn:before {
	 -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	 -khtml-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
	 transform: rotate(45deg);
	 width: 33px;
	 left: -2px;
}
 .navigation #burgerBtn:after {
	 -webkit-transform: rotate(135deg);
	 -moz-transform: rotate(135deg);
	 -khtml-transform: rotate(135deg);
	 -o-transform: rotate(135deg);
	 transform: rotate(135deg);
	 bottom: 11px;
	 width: 33px;
	 left: -2px;
}
 .demo1.navigation #mobileBodyContent {
	 -webkit-transform: scale(0.85);
	 -moz-transform: scale(0.85);
	 -khtml-transform: scale(0.85);
	 -o-transform: scale(0.85);
	 transform: scale(0.85);
	 margin-left: 260px;
}
 
.nav-links{
    @apply hidden;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 0.5s;
}

