@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

/**
 * This injects custom `@font-face` rules.
 */
@import "./custom/fonts.css";

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins, then adds custom base styles.
 */
@import "tailwindcss/base";
@import "./custom/base.css";

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins, then adds custom component classes.
 *
 * The `@import-glob` line imports all CSS files from the `components`
 * directory (except for `components.css`, which is imported on the following
 * line). This is meant to simplify the process of integrating styles from
 * JavaScript components or WordPress plugins.
 */
@import "tailwindcss/components";
@import-glob "./custom/components/**/!(components).css";
@import "./custom/components/components.css";

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins, then adds custom utility classes.
 */
@import "tailwindcss/utilities";
@import "./custom/utilities.css";

#body {
    @apply bg-gray-900;
}

.social-icon {
    width: 23px;
    height: 25px;
}

.post-1 {

    background: -moz-linear-gradient(315deg, #D8B4FE 0%, #818CF8 74%);
    background: -webkit-linear-gradient(315deg, #D8B4FE 0%, #818CF8 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow:
        inset -999px 0 0 #111827;
}


.post-2 {

    background: -moz-linear-gradient(315deg, #6EE7B7 0%, #9333EA 74%);
    background: -webkit-linear-gradient(315deg, #6EE7B7 0%, #9333EA 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow:
        inset -999px 0 0 #111827;
}

.post-3 {

    background: -moz-linear-gradient(315deg, #FDE68A 0%, #FECACA 74%);
    background: -webkit-linear-gradient(315deg, #FDE68A 0%, #FECACA 74%);
    -moz-background-origin: border;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow: inset -999px 0 0 #111827;
}

.cv {

    border: 1px solid transparent;
    border-radius: 49px;
    background: -moz-linear-gradient(180deg, #0BFFD3 0%, #305C9D 100%);
    background: -webkit-linear-gradient(180deg, #0BFFD3 0%, #305C9D 100%);
    -moz-background-origin: border;
    background-origin: border-box;
    box-shadow: inset -999px 0 0 #111827;
}

.txtarea {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-width: 0;
}

.txtarea:focus {
    outline: none;
}

.divtxtarea {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;
    margin-top: 1.5rem;
}

.div-name-input {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;

}

.name-input {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-width: 0;
}

.name-input:focus {
    outline: none;
}

.div-email-input {
    padding-left: 1rem;
    padding-right: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 2.2rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;

}

.div-web-input {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.9rem;
    background-color: #ffffff;
    background-color: #1F2937;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-width: 1px;
    border-color: #374151;
}

.email-input {
    padding-left: 0;
    padding-right: 0;
    background-color: #1F2937;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-width: 0;
}

.email-input:focus {
    outline: none;
}

.txt-dsc {
    font-size: 1.5rem;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {
    .txt-dsc {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.post-btn {
    display: inline-flex;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;

}

.txt-labels {
    color: #E5E7EB;
}

.custom-flex {
    display: flex;
    flex-direction: row;
}